<template>
   <div class="container box_home">
        <div class="row">

            <div class="col-12 col-md-7 mt-5">
                <h4  class="slogan-home"><b>Olá dev, <br />como foi seu dia ?</b></h4>
                <p class="text-slogan-home">Este é um lugar para você registrar tudo que aconteceu no seu dia. Esvazie sua mente e esteja pronto para o proximo desafio.</p>
               
            </div>

            <div class="col-md-5 d-none d-sm-none d-md-block d-xl-block mt-5">
                <img src="/imagem/esvazia_dev.svg" alt="Esvazia DEV" class="img-fluid">
            </div>


            <div class="col-12 text-center mt-4">
                <button class="btn btn-lg btn-outline-primary"  data-toggle="modal" data-target="#start" >
                    Começar Agora <i class="fas fa-play-circle"></i>
                </button>
            
            </div>

        </div>

        <modal id="start" title="Começar agora">

            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="name"  class="form-control" placeholder="Digite seu nome">
             
            </div>

            <div class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control" placeholder="Digite seu E-mail">
            </div>

            <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control" placeholder="Digite uma senha">
            </div>

            <div class="form-group">
                <button class="btn btn-primary w-100">
                    <i class="fas fa-sign-in-alt"></i> Começar
                </button>
            </div>


        </modal>

    </div>
</template>

<script>
import Modal from '../shared/Modal.vue'
export default {
    components:{
        Modal,
    },

    methods:{
        submit(){

        }
    }
}
</script>

<style>

.box_home{
    margin-top: 100px;
}


.slogan-home{
    font-size: 4rem;
    letter-spacing: -1px;
}

.text-slogan-home{
    font-weight: 300;
    font-size:23px;
}

.text-slogan{
    font-weight: 300;
    font-size:19px;
}

</style>