<template>

    <div class="form-signin">

        <a class="navbar-brand font-logo text-white" href="#">.esvazia<span class="text-primary">dev</span></a>

        <label for="inputEmail" class="sr-only">E-mail</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Digite seu e-mail" required autofocus>

        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Digite sua Senha" required>

        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Lembrar-me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Entrar</button>
        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
    </div>
  
</template>

<script>
export default {

}
</script>

<style scoped>

    html,
    body {
    height: 100%;
    }

    body {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    background-color: #f5f5f5 !important;
    }

    .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 10% auto 0;
    
    }
    .form-signin .checkbox {
    font-weight: 400;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border:1px solid #ced4da !important;
    border-radius: 4px !important;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

</style>