<template>

    <div class="row">

        <div class="mt-3 mb-3 col-12 text-right">
          

            <button class="btn btn-sm btn-lg btn-outline-primary"  data-toggle="modal" data-target="#start" >
                <i class="fas question-circle"></i> Sabe como funciona ?
            </button>
            
        </div>

        <div class=" col-lg-4 col-xl-3 p-0 ">
            <div class="p-4 shadow  bg-white rounded">

                <div class="media align-items-center mb-4">
                    <img class="mr-3 rounded-circle" src="/imagem/img-perfil.jpg" width="80" height="80" alt="">
                    <div class="media-body">
                        <h3 class="mb-0">Wallace Santos</h3>
                        <p class="text-muted mb-0">@swallace</p>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col">
                        <div class="card card-profile text-center">
                            <span class="mt-2 mb-1 text-primary"><i class="fas fa-address-book"></i></span>
                            <h3 class="mb-0">263</h3>
                            <p class="text-muted px-4">Postagens</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-profile text-center">
                            <span class="mt-2 mb-1 text-primary"><i class="fas fa-camera"></i></span>
                            <h3 class="mb-0">11</h3>
                            <p class="text-muted">Fotos</p>
                        </div>
                    </div>
                    <!-- <div class="col-12 text-center">
                        <button class="btn btn-danger px-5">Follow Now</button>
                    </div> -->
                </div>

                <h4>Você</h4>
                <p class="text-muted">Hi, I'm Pikamy, has been the industry standard dummy text ever since the 1500s.</p>

                <div class="col-12 text-center">
                    <button class="btn btn-primary px-5">Atualizar Perfil</button>
                </div>

            </div>
        </div>

        <div class="col-lg-8 col-xl-9">
            <div class="card mb-4">
                <div class="card-body">
                    <form action="#" class="form-profile">
                        <div class="form-group">
                            <textarea class="form-control" name="textarea" id="textarea" cols="30" rows="2" placeholder="Faaala dev, o que houve ?"></textarea>
                        </div>
                        <div class="d-flex align-items-center">
                            <!-- <ul class="mb-0 form-profile__icons">
                                <li class="d-inline-block">
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-user"></i></button>
                                </li>
                                <li class="d-inline-block">
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-paper-plane"></i></button>
                                </li>
                                <li class="d-inline-block">
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-camera"></i></button>
                                </li>
                                <li class="d-inline-block">
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-smile"></i></button>
                                </li>
                            </ul> -->
                            <button class="btn btn-primary">Esvaziar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="media media-reply">
                        <img class="mr-3 rounded-circle" src="/imagem/img-perfil.jpg" width="50" height="50" alt="Generic placeholder image">
                        <div class="media-body">
                            <div class="d-sm-flex justify-content-between mb-2">
                                <h5 class="mb-sm-0">Milan Gbah <small class="text-muted ml-3">about 3 days ago</small></h5>
                                <div class="media-reply__link">
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-thumbs-up"></i></button>
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-thumbs-down"></i></button>
                                    <button class="btn btn-transparent p-0 ml-3 font-weight-bold"><i class=" fas fa-edit"></i> Editar</button>
                                </div>
                            </div>
                            
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <modal id="start" :show-header="false" >

            <h4 class="mb-3">uuuuuuph, bora lá</h4>
            
            <span class="d-block w-100 mb-3"><span class="h1">1.</span> Junte todos os pensamentos e emoções que você gerou durante o dia. </span>

            <span class="d-block w-100 mb-3"><span class="h1">2.</span> Coloque todos dentro do campo de texto disponível na tela, fale tudo que você quiser. </span>

            <span class="d-block w-100 mb-3"><span class="h1">3.</span> Depois é só clicar em "ESVAZIAR" e liberar o espaço no seu humor. </span>

        </modal>

    </div>
  
</template>

<script>
export default {
    components:{
        Modal: () => import('../../shared/Modal.vue')
    }
}
</script>

<style scoped>

    .card-profile__info{
        
        list-style: none !important;
    }

    .card-profile__info li strong {
        max-width: 100px; 
    }
</style>